[Unit]
Description=File Upload Webserver
After=network.target

[Service]
ExecStart=/usr/bin/node /root/simple-web-server/index.js
WorkingDirectory=/root/simple-web-server
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fileupload
User=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
